/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
 *::before,
 *::after {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $base-color-text;
  background-color: $bg-basic-white;
  margin: 0;
}
