/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$button-color-text-white: #ffffff;
$title-color-text: #000000;
$invitation-color-text: #111111;
$catalog-color-text: #222222;

$bg-basic-green: #68b738;
$bg-basic-white: #ffffff;
$bg-basic-grey: #f2f2f2;
$bg-special-grey: #eaeaea;
$bg-basic-black: #000000;
$bg-icons-grey: #666666;
