.about {

}

.about__wrapper {

}

.about__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $title-color-text;
}

.about__list {

}

.about__item {
  list-style: none;
}

.about__text {

}
