.about {

}

.about__wrapper {

}

.about__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $title-color-text;
}

.about__list {

}

.about__item {
  list-style: none;
}

.about__item::before {
  content: "";
  background-color: $bg-basic-green;
  background-position: 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: block;
}

.about__item--leaf::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 30px 32px;
}

.about__item--drink::before {
  background-image: url("../../icons/stack.svg#drink");
  background-size: 26px 29px;
}

.about__item--meal::before {
  background-image: url("../../icons/stack.svg#meal");
  background-size: 25px 30px;
}

.about__item--clock::before {
  background-image: url("../../icons/stack.svg#clock");
  background-size: 26px 31px;
}

.about__text {

}
