.address {

}

.address__image {

}

.address__wrapper {

}

.address__wrapper--theme-dark {
  background-color: $bg-basic-grey;
}

.address__invitation {
  padding: 26px 20px;
  display: flex;

  @media (min-width: 768px) {
    padding: 60px 70px;
    justify-content: space-between;
  }
}
