.card {

}

.card__image {

}

.card__content {

}

.card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $catalog-color-text;
}

.card__list {

}

.card__item {
  font-size: 12px;
  line-height: 16px;
}

.card__measure {

}

.card__value {

}

.card__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $button-color-text-white;
}

.card__text {
  font-size: 12px;
  line-height: 16px;
}

.card__button {
  background-color: $bg-basic-grey;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-text;
}

.card__more {
  background-image: url("../../icons/stack.svg#plus");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
