.catalog {

}

.catalog__wrapper {

}

.catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $title-color-text;
}

.catalog__card {

}

.catalog__list {

}

.catalog__item {
  list-style: none;
}
