.cost {

}

.cost__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $title-color-text;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding-bottom: 0;
  }
}
