.example {
  background-color: $bg-special-grey;
}

.example__wrapper {
  margin: 0 20px;
  padding-bottom: 40px;
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $title-color-text;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__text {
  max-width: 280px;
  margin: 0;
  padding-bottom: 20px;
}

.example__list {
  display: flex;
  margin: 0;
  padding-bottom: 20px;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.example__item:first-child {
  padding-right: 32px;
}

.example__content {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $title-color-text;
  width: 124px;
  padding-bottom: 8px;
}

.example__caption {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  max-width: 77px;
  margin: 0;
}

.example__cost {

}

.example__container {

}
