.extra {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.extra__inner {

}

.extra__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $title-color-text;
  margin: 0;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 40px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 80px;
  }
}

.extra__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
}

.extra__list {
  list-style: none;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    border: 1px solid $bg-basic-grey;
    display: grid;
    margin-bottom: 70px;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      width: 874px;
      margin-bottom: 0;
    }
  }
}

.extra__item {
  padding: 13px 0 19px;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    border-bottom: 1px solid $bg-basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border-bottom: 1px solid $bg-basic-grey;
  }

  @media (min-width: $tablet-width) {
    &:last-child {
      border-bottom: none;
    }
  }

  .extra__product {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 307px 325px;
      grid-template-rows: 20px 40px;
      row-gap: 25px;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 325px 285px 284px;
      grid-template-rows: 72px;
      row-gap: 0;
    }
  }

  .extra__present {

  }
}
