.logo__image {

}

.logo__name {
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    width: 101px;
    height: 24px;
    margin-right: 95px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
    margin-left: 14px;
    margin-right: 0;
  }
}
