.main-nav {

}


.main-nav__logo {

}

.main-nav__toggle {
  background-color: $bg-basic-white;
  background-image: url("../../icons/stack.svg#menu-burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
}

.main-nav__toggle--close {
  background-image: url("../../icons/stack.svg#menu-cross");
}

.main-nav__list {

}

.main-nav__item {
  list-style: none;
}

.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $title-color-text;
}
