.main-nav {

}


.main-nav__logo {
  display: flex;
  gap: 56px;
  align-items: center;
  padding: 13px 20px 15px;
}

.main-nav__toggle {
  background-color: $bg-basic-white;
  background-image: url("../../icons/stack.svg#menu-burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
  display: none;
}

.main-nav__toggle--close {
  background-image: url("../../icons/stack.svg#menu-cross");
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.main-nav__list--no-display {
  display: none;
}

.main-nav__item {
  list-style: none;
  padding-top: 22px;
  padding-bottom: 24px;
}

.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $title-color-text;
}
