.main-footer {
  background-color: $bg-basic-grey;
}

.main-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__logo {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main-footer__copyright {
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    justify-content: end;
    gap: 23px;
    width: 168px;
  }
}

.main-footer__copyright::after {
  content: "";
  background-color: $bg-icons-grey;
  width: 27px;
  height: 34px;
  display: inline-block;
  mask-image: url("../../icons/stack.svg#html-academy");
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
  mask-position: center;
}
