.product {

}

.product__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $catalog-color-text;
  margin: 0;
  padding-bottom: 13px;
}

.product__text {
  line-height: 14px;
  margin: 0;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__volume {

}

.product__price {

}

.product__link {
  text-decoration: none;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $button-color-text-white;
  display: block;
  width: 280px;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}
