.subscription {
  font-family: $secondary-font;
}

.subscription__wrapper {
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    padding: 80px 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 40px 104px;
  }
}

.subscription__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $title-color-text;
  margin: 0;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 66px;
    padding-left: 70px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 72px;
  }
}

.subscription__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $title-color-text;
  margin: 0;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}


.subscription__form {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    gap: 0;
  }
}

.subscription__field {
  font-family: $secondary-font;
  color: $base-color-text;

  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 100%;
  width: 280px;
  padding: 13px;
  margin-bottom: 16px;
  border: 1px solid $bg-basic-grey;

  @media (min-width: $tablet-width) {
    width: 376px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscription__button {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $button-color-text-white;
  display: block;
  width: 280px;
  border: none;
  cursor: pointer;
  padding: 15px 0;

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}
